<script src="../checkCountry.js" ></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <script>
            var authToken = null;
            var countryPrefix = localStorage.getItem('urlPrefix');
            //get token from session
            authToken = sessionStorage.getItem('token');
            if (authToken == null || authToken == "") {
                window.location.href = '/B/' + countryPrefix + '/memberLogin.html';
            }
            fetch(new Request('/api/checkToken',
            {
                method: 'GET',
                headers: {
                    Authorization: 'Bearer ' + authToken
                }
            })).then(function (response) {
                return response.json();
            }).then(function (data) {
                if(!data.success) {
                    window.location.href = '/B/' + countryPrefix + '/memberLogin.html';
                }
            

            }).catch(function (error) {
                console.log(error);
            });

            var member = null;
            document.addEventListener('DOMContentLoaded', function(){
                member = JSON.parse(sessionStorage.getItem("member"));

                if(member.sla == 1) {
                    document.getElementById("serviceLevelAgreement").checked = true;
                }
                // load member profile
                document.getElementById("email").value = member.email;
                document.getElementById("firstName").value = member.firstName;
                document.getElementById("lastName").value = member.lastName;
                document.getElementById("phone").value = member.phone;
                document.getElementById("address").value = member.address;
                document.getElementById("postalCode").value = member.postalCode;
                document.getElementById("city").value = member.city;
                document.getElementById("country").value = member.country;

                
                //Get Bought Items
                fetch(new Request('/api/getBoughtItem/' + member.id,
                {
                    method: 'GET',
                    headers: {
                        Authorization: 'Bearer ' + authToken
                    }
                })).then(function (response) {
                    return response.json();
                }).then(function (boughtItem) {
                    if(boughtItem == null || boughtItem == '') { //if member do not have any bought items
                        document.getElementById("salesHistoryTab").innerHTML = '<h5 class="center">You do not have any sales history.</h5>';
                    }
                    else {
                        var htmlTxt = '';
                        var orderIdList = [];
                        var overallPrice = 0;
                        var finalPrice = 0;
                        //get all order IDs
                        for (i = 0; i < boughtItem.length; i++) {
                            orderIdList[i] = boughtItem[i].id;
                        }
                        //unduplicate order IDs
                        orderIdList = [...new Set(orderIdList)];
                        var temp;
                        var size = orderIdList.length;
                        //sort order ID in ascending order
                        for (i = 0; i < size - 1; i++) {
                            for (j = 0; j < size - i - 1; j++) {
                                if (orderIdList[j] > orderIdList[j+1]) {
                                    temp = orderIdList[j];
                                    orderIdList[j] = orderIdList[j+1];
                                    orderIdList[j+1] = temp;
                                }
                            }
                        }
                                         
                            htmlTxt += '<h5>Order #' + (1) + '</h5>';
                            var counter = 0;
                            //get bought items by order ID
                            for (j = 0; j < boughtItem.length; j++) {
                            
                                if(boughtItem[j].id == orderIdList[0]) {
                                    var item = boughtItem[j];
                                    //display top level info
                                    if(counter == 0) {
                                        let options = {
                                            weekday: "long", year: "numeric", month: "long",  
                                            day: "numeric", hour: "2-digit", minute: "2-digit"  
                                        };
                                        var datePurchased = (new Date(item.createddate)).toLocaleTimeString('en-us', options);
                                        var deliveryDate = addWorkDays(new Date(item.createddate), 5);
                                        htmlTxt += '\
                                            <h6>Date Purchased: ' + datePurchased + '</h6>\
                                            <h6>Estimated Delivery Date: ' + deliveryDate + '</h6>\
                                            <h6 style="text-decoration:underline; font-weight:bold">Delivery Details:</h6>\
                                            <h6>Address: ' + item.address + '</h6>\
                                            <h6>Postal Code: ' + item.postalCode + '</h6>\
                                            <h6>Name: ' + item.customerName + '</h6>\
                                            <h6>Contact Number: ' + item.phone + '</h6>';
                                        counter++;
                                    }
                                }
                            }
                            //display table info
                            htmlTxt += '\
                                <div class="row">\
                                    <div class="col-md-12">\
                                        <div class="row featured-boxes">\
                                            <div class="col-md-12">\
                                                <div class="featured-box featured-box-secundary featured-box-cart">\
                                                    <div class="box-content">\
                                                        <table cellspacing="0" class="shop_table cart">\
                                                            <thead>\
                                                                <tr>\
                                                                    <th class="product-thumbnail" style="width: 25%">Image</th>\
                                                                    <th class="product-name" style="width: 38%">Product</th>\
                                                                    <th class="product-price" style="width: 15%">Price</th>\
                                                                    <th class="product-quantity" style="width: 15%">Quantity</th>\
                                                                    <th class="product-subtotal" style="width: 15%">Subtotal</th>\
                                                                </tr>\
                                                            </thead>\
                                                            <tbody>';
                            for (y = 0; y < boughtItem.length; y++) {
                            
                                if (boughtItem[y].id == orderIdList[0]) {
                                    var product = boughtItem[y];
                                    htmlTxt += '\
                                        <tr class="cart_table_item">\
                                            <td class="product-thumbnail">\
                                                <a href="/B/' + countryPrefix + '/furnitureProductDetails.html?sku=' + product.sku + '"><img width="100" height="100" alt="" class="img-responsive" src="' + product.imageUrl + '"></a>\
                                            </td>\
                                            <td class="product-name">\
                                                <a class="productDetails" href="/B/' + countryPrefix + '/furnitureProductDetails.html?sku=' + product.sku + '">' + product.itemName + '</a>\
                                            </td>\
                                            <td class="product-price">\
                                                $<span class="amount">' + product.retailPrice.toFixed(2) + '</span>\
                                            </td>\
                                            <td class="product-quantity">\
                                                <span class="qty">' + product.quantity + '</span>\
                                            </td>\
                                            <td class="product-subtotal">\
                                                $<span class="amount">' + product.retailPrice.toFixed(2) * product.quantity + '</span>\
                                            </td>\
                                        </tr>';
                                    finalPrice += product.retailPrice.toFixed(2) * product.quantity;
                                    overallPrice += product.retailPrice.toFixed(2) * product.quantity;
                                }
                            }
                            htmlTxt += '\
                                                                <tr>\
                                                                    <td></td>\
                                                                    <td></td>\
                                                                    <td></td>\
                                                                    <td class="product-subtotal" style="font-weight: bold; color: #cc3b33">Total:</td>\
                                                                    <td class="product-subtotal" style="font-weight: bold">\
                                                                        $<span class="amount" id="finalPrice" name="finalPrice">' + finalPrice + '</span>\
                                                                    </td>\
                                                                </tr>\
                                                            </tbody>\
                                                        </table>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>';
                            finalPrice = 0;

                        htmlTxt += '<h4 style="font-weight: bold; padding-left: 20px">Total Amount Spent: $'+ overallPrice + '</h4>';
                        document.getElementById("salesHistoryTab").innerHTML = htmlTxt;
                    }
                }).catch(function(error) {
                    console.log(error);
                });
            }, false);

            async function submitForm() {
                var ok = true;
                var activeTab = document.querySelector('.tab-pane.active').id;

                if (activeTab === 'changePassword') {
                    var oldPassword = document.getElementById("oldPassword").value;
                    var password = document.getElementById("password").value;
                    var repassword = document.getElementById("repassword").value;

                    if (oldPassword && (password || repassword)) {
                        var memberData = {
                            id: member.id,
                            password: oldPassword
                        };

                        await fetch(new Request('/api/verifyPassword',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                Authorization: 'Bearer ' + authToken
                            },
                            body: JSON.stringify(memberData)
                        })).then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            console.log(data);
                            if(data.success) {
                                if (password !== repassword) {
                                    document.getElementById("password").style.borderColor = "#E34234";
                                    document.getElementById("repassword").style.borderColor = "#E34234";
                                    showNotification("Passwords do not match. Please try again.", "danger");
                                    ok = false;
                                } else if (password.length < 8) {
                                    document.getElementById("password").style.borderColor = "#E34234";
                                    showNotification("Password must be at least 8 characters long.", "warning");
                                    ok = false;
                                }
                            } else {
                                document.getElementById("oldPassword").style.borderColor = "#E34234";
                                showNotification("Current password is incorrect.", "danger");
                                ok = false;
                            }
                        }).catch(function (error) {
                            console.log(error);
                            showNotification("An error occurred while verifying the password.", "danger");
                            ok = false;
                        });
                    }
                }

                if(ok) {
                    var data = {
                        email: document.getElementById("email").value,
                        name: document.getElementById("name").value,
                        phone: document.getElementById("phone").value,
                        country: document.getElementById("country").value,
                        address: document.getElementById("address").value,
                        securityQuestion: document.getElementById("securityQuestion").value,
                        securityAnswer: document.getElementById("securityAnswer").value,
                        age: document.getElementById("age").value,
                        income: document.getElementById("income").value,
                        sla: document.getElementById("serviceLevelAgreement").checked ? 1 : 0
                    };
                 
                    if (activeTab === 'changePassword' && document.getElementById("password").value) {
                        data.password = document.getElementById("password").value;
                    }
                    console.log(data);
                    fetch(new Request('/api/updateMember',
                    {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            Authorization: 'Bearer ' + authToken
                        },
                        body: JSON.stringify(data)
                    })).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        console.log(data);
                        sessionStorage.setItem("member", JSON.stringify(data));
                        sessionStorage.setItem("memberEmail", data.email);
                        sessionStorage.setItem("memberName", data.name);
                        showNotification("Profile updated successfully!", "success");
                        // Refresh form data after successful update
                        if (activeTab === 'changePassword') {
                            document.getElementById("changePasswordForm").reset();
                        }
                    }).catch(function (error) {
                        console.log(error);
                        showNotification("Unable to update profile. Please try again.", "danger");
                    });
                }
            }

            function showNotification(message, type) {
                var alertDiv = document.createElement('div');
                alertDiv.className = 'alert alert-' + type + ' alert-dismissible fade in';
                alertDiv.setAttribute('role', 'alert');
                alertDiv.style.position = 'fixed';
                alertDiv.style.top = '20px';
                alertDiv.style.right = '20px';
                alertDiv.style.zIndex = '9999';
                alertDiv.style.minWidth = '300px';
                
                alertDiv.innerHTML = `
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    ${message}
                `;
                
                document.body.appendChild(alertDiv);
                
                // Auto dismiss after 5 seconds
                setTimeout(function() {
                    $(alertDiv).alert('close');
                }, 5000);
            }

            function addWorkDays(startDate, days) {
                var dow = startDate.getDay();
                var daysToAdd = parseInt(days);
                if (dow == 0)
                    daysToAdd++;
                if (dow + daysToAdd >= 6) {
                    var remainingWorkDays = daysToAdd - (5 - dow);
                    daysToAdd += 2;
                    if (remainingWorkDays > 5) {
                        daysToAdd += 2 * Math.floor(remainingWorkDays / 5);
                        if (remainingWorkDays % 5 == 0)
                            daysToAdd -= 2;
                    }
                }
                startDate.setDate(startDate.getDate() + daysToAdd);
                var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                return startDate.toLocaleDateString("en-US", options);
            }

            function pdpaWindow() {
                var myWindow = window.open("pdpa.html");
            }
        </script>
        <script src="menu2.js"></script>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>User Profile</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <script src="/displayMessageLong.js"></script>
                <div class="col-md-12">
                    <div class="row" style="min-height: 500px;">
                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#overview" data-toggle="tab"><i class="icon icon-user"></i> Overview</a>
                                </li>
                                <li>
                                    <a href="#changePassword" data-toggle="tab">Change Password</a>
                                </li>
                                <li>
                                    <a href="#loyaltyProgram" data-toggle="tab">Loyalty Program</a>
                                </li>
                               
                                <li>
                                    <a href="#salesHistory" data-toggle="tab">Sales History</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab-pane active">
                                    <form id="profileForm">
                                        <h4>Personal Information</h4>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" required="true" id="name" type="text" />
                                        </div>
                                        <div class="form-group">
                                            <label>E-mail Address</label>
                                            <input class="form-control" required="true" id="email" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input class="form-control" required="true" pattern="[0-9]*" title="Numbers only" type="text" id="phone" />
                                        </div>
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select id="country" required="true">
                                                <option value=""></option>
                                                <!-- Country options here -->
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" type="text" required="true" id="address" />
                                        </div>
                                        <div class="form-group">
                                            <label>Set Challenge Question</label>
                                            <select id="securityQuestion" required="true">
                                                <option value="1">What is your mother's maiden name?</option>
                                                <option value="2">What is your first pet's name?</option>
                                                <option value="3">What is your favourite animal?</option>
                                            </select>
                                            <input class="form-control" type="text" required="true" id="securityAnswer" />
                                        </div>
                                        <div class="form-group">
                                            <label>Age</label>
                                            <input class="form-control" id="age" type="text" required="true" pattern="[0-9]*" title="Numbers only" />
                                        </div>
                                        <div class="form-group">
                                            <label>Income per annum (in USD)</label>
                                            <input class="form-control" id="income" type="text" required="true" pattern="[0-9]*" title="Money without cents" />
                                        </div>
                                        <div class="form-group">
                                            <input style="cursor: pointer" type="checkbox" id="serviceLevelAgreement" value="agreement" />
                                            Allow us to use your particulars to serve you better?
                                            <br/>Checking the box above indicates that you agree to our <a onclick="pdpaWindow()" style="cursor: pointer">personal data protection policy.</a>
                                        </div>
                                        <hr class="more-spaced"/>
                                        <div class="panel-footer" style="padding-bottom: 0px;">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <input type="reset" value="Reset" class="btn btn-default pull-right push-bottom" style="margin-left: 10px;"/>
                                                    <input type="submit" value="Submit" class="btn btn-primary pull-right push-bottom" onclick="submitForm(); return false;"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="changePassword" class="tab-pane">
                                    <form id="changePasswordForm">
                                        <h4>Change Password</h4>
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input class="form-control" type="password" required="true" id="oldPassword"/>
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input class="form-control" type="password" required="true" id="password"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm New Password</label>
                                            <input class="form-control" type="password" required="true" id="repassword"/>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <input type="reset" value="Reset" class="btn btn-default pull-right push-bottom" style="margin-left: 10px;"/>
                                                    <input type="submit" value="Change Password" class="btn btn-primary pull-right push-bottom" onclick="submitForm(); return false;"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="loyaltyProgram" class="tab-pane">
                                    <h4>Loyalty Program</h4>
                                </div>
                                <div id="salesHistory" class="tab-pane">
                                    <h4>Sales History</h4>
                                    <div id="salesHistoryTab"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../footer.js"></script>
</body>
</html>